<%- include('partials/header') -%>

<h1 class="text-4xl">Welcome <%= user %>.</h1>
    <p> Name: <%= name %></p>
    <p> Last name: <%= surname %></p>
    <p> Vatin: <%= vatin %></p>

<%- include('partials/footer') -%>
